* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Manrope", sans-serif;
}
/* Header */
.container{
   width: 90%;
   margin: auto;
}
.headerNavbar{
   display: flex;
   height: 95px;
   justify-content: space-between;
   align-items: center;
}

.menuButton{
   background-color: transparent;
   border: 1px solid #F7F7F8;
   border-radius: 100px;
   padding: 14px 24px;
   color: #656567;
   cursor: pointer;
   font-size: 18px;
}
.menuButton:hover{
   color: #262626;
   background-color: #F7F7F8;
   transition: all 1s ease-out;
}
.active{
   background-color: #F7F7F8;
   color: #262626;
}
.headerMenuRight{
   display: flex;
   gap: 10px;
}
.headerMenuRight{
   display: flex;
   gap: 14px;
}

.shoppingCart{
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   width: 52px;
   height: 52px;
   background-color: #FFD400;
   border-radius: 100%
}
.containerr {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    position: relative;
  }
  
  .headerr {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .headerr h2 {
    font-size: 28px;
    font-weight: 700;
  }
  
  .subheading {
    color: gray;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 400;
  }
  
  .headerr p {
    max-width: 600px;
    color: #444;
    font-size: 15px;
  }
  
  .btn {
    background-color: #FFD700;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-top: 40px;
    scroll-behavior: smooth;
  }
  
  .testimonial-card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    min-width: 320px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  

  
  .profile {
    text-align: center;
    margin-bottom: 15px;
  }
  
  /* .profile img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  } */
  
  .profile strong {
    display: block;
    margin-top: 8px;
    font-weight: bold;
  }
  
  .stars {
    color: #f5c518;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
/* Main */