* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
 }
 .LogoQuest{
    padding-top: 75px;
 }
 .LogoQuestsmall{
    padding-top: 36px;
    color: black;
 }
#navbarNavDropdown{
    padding-top: 120px;
}
.question{
    padding-top: 150px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin-bottom: 20px;
    padding: 30px;
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  padding-top: 80px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #98989A;
}

.nav-links li a:hover {
  color: #1A1A1A;
}
#active{
    color: #1A1A1A;
}
.ContainerQuest{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}

.questionBox1{
    width: 512px;
    height: 412px;
}
.questionBox2{
    width: 512px;
    height: 412px;
}
.questionBox3{
    width: 512px;
    height: 412px;
}
#hiddenText {
  display: none;
  margin-top: 10px;
  color: #4C4C4D;
  font-size: 14px;
  line-height: 150%;
}

.questionBoxTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.questionTitleBig{
  font-size: 18px;
  transition: font-size 0.3s ease-in-out;
}
.question{
  background-color: #FCFCFD;
  border-radius: 20px;
}