* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Manrope", sans-serif;
}

.container{
   width: 90%;
   margin: auto;
}
.main{
   margin-top: 167px;
}
.headerNavbar{
   display: flex;
   height: 95px;
   justify-content: space-between;
   align-items: center;
}

.menuButton{
   background-color: transparent;
   border: 1px solid #F7F7F8;
   border-radius: 100px;
   padding: 14px 24px;
   color: #656567;
   cursor: pointer;
   font-size: 18px;
}
.menuButton:hover{
   color: #262626;
   background-color: #F7F7F8;
   transition: all 1s ease-out;
}
.active{
   background-color: #F7F7F8;
   color: #262626;
}
.headerMenuRight{
   display: flex;
   gap: 10px;
}
.headerMenuRight{
   display: flex;
   gap: 14px;
}

.shoppingCart{
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   width: 52px;
   height: 52px;
   background-color: #FFD400;
   border-radius: 100%
}

.container2{
   /* margin: 0 92px; */
}
a{
   text-decoration: none;
}
.headerContainer{
   display: flex;
   align-items: center;
   margin-bottom: 80px;
   /* justify-content: flex-start; */
}
.headerLeft p{
   color: #656567;
   font-size: 18px;
   line-height: 27px;
   /* width: 40%; */
}
.headerLeft{
   width: 40%;
   margin-right: 90px;
}

.Discover {
   display: flex;
   margin-bottom: 36px;
}

.Discover h1{
   color: #1a1a1a;
   font-size: 48px;
   font-weight: 600;
   text-transform: uppercase;
   margin-right: 7px;
}
.Discover p{
   color: #98989a;
   font-weight: 600;
   text-transform: uppercase;
   margin-top: 10px;
   width: max-content;
}
.headerRightContainer{
   display: flex;   
}
.headerRightBox:not(:last-child) {
   margin-right: 60px;
}
.headerRightContainerHeader {
   color: #262626;
   font-size: 24px;
   font-weight: 600;
   line-height: 27px;
   margin-bottom: 10px;
}
.headerRightContainerText {
   color: #656567;
   font-size: 18px;
   font-weight: 500;
   line-height: 21px;
}

.filterBox {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-bottom: 80px;
}
.filterBtn {
   border: none;
   color: #4c4c4d;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   border-radius: 100px;
   padding: 0 20px;
   background-color: #f7f7f8;
   cursor: pointer;
   transition: background-color 500ms;
   height: 53px;
}
.filterBtn:hover:not(.activeFilter){
   background-color: #d3d3d6;
}
.activeFilter {
   color: #262626;
   font-weight: 600;
   background-color: #ffd400;
}

#select{
   margin-left: 10px;
   padding-left: 5px;
}

.filterBoxMedia{
   display: none;
}







@media screen and (max-width: 1490px) {
   .headerRightBox:not(:last-child) {
      margin-right: 30px;
   }
}
@media screen and (max-width: 1380px) {
   .headerLeft{
      margin-right: 50px;
   }
}
@media screen and (max-width: 1305px) {
   .Discover{
      margin-bottom: 24px;
   }
   .Discover h1{
      font-size: 38px;
   }
   .headerLeft p{
      font-size: 14px;
   }
   .Discover p{
      font-size: 14px;
   }
   .headerRightContainerHeader{
      font-size: 18px;
   }
   .headerRightContainerText{
      font-size: 14px;
   }
   .headerLeft{
      width: 45%;
   }
}
@media screen and (max-width: 1070px) {
   .headerLeft{
      width: 50%;
   }
}
@media screen and (max-width: 1047px) {
   .headerRightContainerHeader{
      width: 105%;
   }
}
@media screen and (max-width: 985px) {
   .headerContainer{
      display: block;
   }
   .headerLeft{
      margin-right: 0px;
      margin-bottom: 30px;
      width: 100%;
   }
}
@media screen and (max-width: 627px) {
   .filterBtn{
      display: none;
   }
   .filterBoxMedia{
      display: flex;
   }
}
@media screen and (max-width: 502px) {
   .headerRightContainerHeader{
      font-size: 16px;
   }
   .headerRightBox:not(:last-child){
      margin-right: 20px;
   }
}
@media screen and (max-width: 433px) {
   .headerRightContainer{
      flex-wrap: wrap;
   }
   .headerRightBox:first-child{
      margin-bottom: 15px;
   }
}
@media screen and (max-width: 425px) {
   .Discover{
      flex-direction: column-reverse;
   }
   .Discover h1{
      font-size: 28px;
   }
   .Discover p{
      margin-top: 0px;
   }
}
@media screen and (max-width: 366px) {
   .headerRightBox:nth-child(2){
      margin-bottom: 15px;
   }
}  


















.productContainer h2{
   color: #333;
   font-size: 24px;
   font-weight: 600;
   line-height: 36px;
}

.description{
   color: #656567;
   font-size: 18px;
   line-height: 27px;
   margin-bottom: 50px;
}

.productContainer:not(:last-child){
   margin-bottom: 80px;
}

.productBox{
   display: flex;
   justify-content: center;
   gap: 50px;
}
.productImg {
   width: 376px;
   height: 317px;
}
.basket {
   position: absolute;
   left: 80%;
   top: 80%;
   min-width: 56px;
}
.productContent{
   position: relative;
   /* border: 1px solid #1a1a1a; */
   width: 390px;
   height: 409px;
}
.productContentBotton h3{
   color: #262626;
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   width: 75%;
   height: 60px;
}
.productContentBotton p{
   color: #262626;
   font-size: 18px;
   font-weight: 600;
   line-height: 27px;
}
.womensClothing{
   overflow: hidden;
}

 @media screen and (max-width: 1440px) {
   .productImg{
      width: 275px;
   }
   .productContent{
      height: 465px;
      
   }
   .productContentBotton h3{
      height: 100px;
   }
}

@media screen and (max-width: 1420px) {
   .productBox{
      gap: 19px;
   }
}

@media screen and (max-width: 1200px) {
   .productBox{
      flex-wrap: wrap;
   }
}