* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container{
   width: 90%;
}
.headerNavbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menuButton{
   background-color: transparent;
   border: 1px solid #656567;
   border-radius: 15px;
   padding: 14px 24px;
   color: #656567;
}
