* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Manrope", sans-serif;
}
/* Header */
.container{
   width: 90%;
   margin: auto;
}
.headerNavbar{
   display: flex;
   height: 95px;
   justify-content: space-between;
   align-items: center;
}

.menuButton{
   background-color: transparent;
   border: 1px solid #F7F7F8;
   border-radius: 100px;
   padding: 14px 24px;
   color: #656567;
   cursor: pointer;
   font-size: 18px;
}
.menuButton:hover{
   color: #262626;
   background-color: #F7F7F8;
   transition: all 1s ease-out;
}
.active{
   background-color: #F7F7F8;
   color: #262626;
}
.headerMenuRight{
   display: flex;
   gap: 10px;
}
.headerMenuRight{
   display: flex;
   gap: 14px;
}

.shoppingCart{
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   width: 52px;
   height: 52px;
   background-color: #FFD400;
   border-radius: 100%
}

/* Main */

.main {
}
.product_main {
   display: flex;
}
.product_block_left {
   
}
.product_img {
   width: 38vw;
   margin-right: 50px;
}
.product_block_right {
}
.maininfo {
   display: flex;
   
}
.maininfo_left {
   
}
.maininfo_title {
   display: flex;
   align-items: start;
}
.title_text {
   margin-right: 10px;
   font-size: 18px;
   margin-bottom: 0;
}
.title_rating {
   display: flex;
   font-size: 14px;
}
.title_rating_img {
   height: 15px;
}
.rating_img{
   height: 15px;
}
.title_rating_number {
   margin-right: 10px;
}
.title_rating_count {
   display: flex;
   align-items: center;
   margin-right: 10px;
   background-color: #FFE566;
   padding: 2px 12px 2px 12px;
   border-radius: 50px;
   font-weight: 500;
   color: #262626;
}
.title_rating_count span{
   margin-left: 5px;
}
.maininfo_head {
   margin-top: 6px;
   font-size: 24px;
   font-weight: 600;
}
.maininfo_name {
}
.maininfo_price {
   font-size: 30px;
   font-weight: bold;
}
.maininfo_right {
   display: flex;
   flex-grow: 1;
}
.maininfo_buttons {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: start;
   flex-wrap: wrap;

}
.buy {
   padding: 14px 28px 14px 28px;
   border-radius: 50px;
   color: white;
   background-color: #262626;
   font-size: 14px;
   margin-right: 10px;
}
.buyButton {
   height: 21px;
   width: 21px;
   margin-top: -7px;
   margin-right: 8px;
   
}
.add {
   padding: 14px 28px 14px 28px;
   border-radius: 50px;
   background-color: #ffffff;
   font-size: 14px;
   border: #F1F1F3, 1px, solid;
   -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
   box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
}
.addButton {
   height: 21px;
   width: 21px;
   margin-top: -7px;
   margin-right: 8px;
}
.info {
   
}
.info_headInfo {
   display: flex;
   
}
.headInfo_material {
}
.material_title {
}
.material_info {
}
.headInfo_fit {
}
.fit_title {
}
.fit_info {
}
.info_details {
   display: flex;

}
.details_color {
}
.color_title {
}
.color_block {
}
.black {
}
.arrow {
}
.orange {
}
.yellow {
}
.details_sizes {
}
.sizes_title {
}
.sizes_buttons {
}
.size {
}
.shippingInformation {
}
.shippingInformation_title {
}
.shippingInformation_list {
}
.width {
}
.description {
}
.description_title {
}
.description_text {
}

.grey{
   color: #656567;
}