* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Manrope", sans-serif;
}
/* Header */
.container{
   width: 90%;
   margin: auto;
}
.headerNavbar{
   display: flex;
   height: 95px;
   justify-content: space-between;
   align-items: center;
}

.menuButton{
   background-color: transparent;
   border: 1px solid #F7F7F8;
   border-radius: 100px;
   padding: 14px 24px;
   color: #656567;
   cursor: pointer;
   font-size: 18px;
}
.menuButton:hover{
   color: #262626;
   background-color: #F7F7F8;
   transition: all 1s ease-out;
}
.active{
   background-color: #F7F7F8;
   color: #262626;
}
.headerMenuRight{
   display: flex;
   gap: 10px;
}
.headerMenuRight{
   display: flex;
   gap: 14px;
}

.shoppingCart{
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   width: 52px;
   height: 52px;
   background-color: #FFD400;
   border-radius: 100%
}

/* Main */

.product_main {
   display: flex;
   margin: 80px 84px 80px 84px;
}
.product_img {
   max-width: 38vw;
   margin-right: 50px;
   max-height: 700px;
}
.maininfo {
   display: flex;
   
}
.maininfo_title {
   display: flex;
   align-items: start;
}
.title_text {
   margin-right: 10px;
   font-size: 16px;
   margin-bottom: 0;
}
.title_rating {
   display: flex;
   font-size: 14px;
}
.title_rating_img {
   height: 15px;
}
.rating_img{
   height: 15px;
   align-self: self-start;
   margin-right: 3px;
}
.title_rating_number {
   margin-right: 10px;
}
.title_rating_count {
   display: flex;
   align-items: center;
   margin-right: 10px;
   background-color: #FFE566;
   padding: 2px 12px 2px 12px;
   border-radius: 50px;
   font-weight: 500;
   color: #262626;
}
.title_rating_count span{
   margin-left: 5px;
}
.maininfo_head {
   margin-top: 6px;
   font-size: 24px;
   font-weight: 600;
}
.maininfo_name {
   font-size: 24px;
   font-weight: 600;
}
.maininfo_price {
   font-size: 30px;
   font-weight: bold;
}
.maininfo_right {
   display: flex;
   flex-grow: 1;
}
.maininfo_buttons {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: start;
   flex-wrap: wrap;

}
.buy {
   padding: 14px 28px 14px 28px;
   border-radius: 50px;
   color: white;
   background-color: #262626;
   font-size: 14px;
   margin-right: 10px;
}
.buyButton {
   height: 21px;
   width: 21px;
   margin-top: -7px;
   margin-right: 8px;
   
}
.buy:hover{
   transition: 0.1s ease ;
   border-color: #FFE566;
   border-width: 3px;

}
.add {
   padding: 14px 19.5px 14px 19.5px;
   border-radius: 50px;
   background-color: #ffffff;
   font-size: 14px;
   border: #F1F1F3, 1px, solid;
   -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
   box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
}
.add:hover{
   transition: 0.1s ease ;
   border-color: #FFE566;
   border-width: 3px;
}
.addButton {
   height: 21px;
   width: 21px;
   margin-top: -7px;
   
}
.info {
   padding: 30px;
   border: #F1F1F3 1px solid;
   border-radius: 23px;
   margin-top: 20px;
}
.info_headInfo {
   display: flex;
   
}
.headInfo_material {
   width: 50%;
}
.material_title {
   font-size: 16px;
}
.material_info {
   font-size: 16px;
   color: #656567;
}
.headInfo_fit {
   width: 50%;
}
.fit_title {
   font-size: 16px;
}
.fit_info {
   font-size: 16px;
   color: #656567;
}
.info_details {
   display: flex;
   justify-content: space-between;
   
}
.color_title {
   font-size: 16px;
}
.color_block {
   display: flex;
   border: #F1F1F3, 1px, solid;
   padding: 6px 5px 6px 9px;
   border-radius: 50px;
}
.color_block > div {
   width: 20px;
   height: 20px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 4px;
}
.black {
   background-color: black;
}
.arrow {
   display: none;
}
.orange {
   background-color: orange;
}
.yellow {
   background-color: #FFD400;
}
.details_sizes {
   width: 50%;
}
.sizes_title {
   font-size: 16px;
   margin-bottom: 0px;
}
.sizes_buttons {
   display: flex;
   flex-wrap: wrap;
}
.size {
   width: 34px;
   height: 34px;
   font-size: 14px;
   border: #F1F1F3, 1px, solid;
   background-color: #F7F7F8;
   border-radius: 3px;
   margin: 6px 5px 0px 0px;
}
.size:hover{
   background-color: #262626;
   color: white;
   transition: 0.2s ease;
}
.shippingInformation {
   padding: 30px;
   border: #F1F1F3 1px solid;
   border-radius: 23px;
   margin-top: 16px;
}
.shippingInformation_title {
   margin-bottom: 18px;
   font-size: 16px;
}
.shippingInformation_list {
   margin-bottom: 0px;
   font-size: 16px;
   color: #656567;
}
.shippingInformation_list li {
   margin-top: 10px;
   font-size: 16px;
}
.shippingInformation_list span {
   color: black;
}
.description {
   padding: 30px;
   border: #F1F1F3 1px solid;
   border-radius: 23px;
   margin-top: 16px;
}
.description_title {
   margin-bottom: 18px;
   font-size: 16px;
}
.description_text {
   font-size: 16px;
   color: #656567;
   margin-bottom: 0;
}

.grey{
   color: #656567;
}

@media screen and (max-width: 995px) {
   .product_main{
      display: block;
      margin: 16px;
   }
   .product_img {
      max-width: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
   }
   .title_rating{
      font-size: 12px;
   }
   .headerMenuRight{
      display: none;
   }
   .maininfo{
      display: block;
   }
   .maininfo_head{
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
   }
   .maininfo_name{
      font-size: 18px;
   }
   .maininfo_price{
      font-size: 22px;
   }
   .maininfo_buttons{
      justify-content: space-evenly;
   }
   .buy{
      margin-right: 0;
   }
   .font14{
      font-size: 14px;
   }
   .info{
      padding: 20px;
   }
   .font14  li{
      font-size: 14px;
   }
 }